.button {
  padding: 15px 30px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background: radial-gradient(87.68% 100% at 50.19% 100%, #0084FF 0%, #5CB0FF 100%);
  box-shadow: 0px 10px 10px rgba(0, 48, 92, 0.1);
  border-radius: 81px;
}

.button:hover {
  background: radial-gradient(87.68% 100% at 50.19% 100%, #006FD6 0%, #0084FF 100%);
  box-shadow: 0px 5px 10px rgba(0, 48, 92, 0.1);
}

.button:active {
  background: radial-gradient(87.68% 100% at 50.19% 100%, #005AAD 0%, #006FD6 100%);
}

.button:disabled {
  color: #B7DCFF;
  background: #E5F2FF;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}