@use "../../sass/abstracts" as *;

.main {
  margin-bottom: 100px;

  h2 {
    margin-bottom: 20px;

    @include breakpoint(lg) {
      margin-bottom: 30px;
    }

    span {
      font-weight: 500;
    }
  }

  button {
    margin-bottom: 40px;

    @include breakpoint(xl) {
      margin-bottom: 60px;
    }
  }

  .center {
    display: flex;
    justify-content: center;
  }

  @include breakpoint(lg) {
    margin-bottom: 150px;

    h2 {
      margin-bottom: 20px;
    }

    .cards {
      display: flex;
      gap: 20px;
    }
  }

  @include breakpoint(xl) {
    margin-bottom: 250px;
    
    h2 {
      margin: 0 auto;
      max-width: 700px;
      padding-right: 10px;
      margin-bottom: 30px;
    }

    .cards {
      margin: 0 auto;
      max-width: 1170px;
      justify-content: space-between;
    }
  }
}
