@use "../../sass/abstracts" as *;

.main {
  margin-bottom: 100px;

  h2 {
    margin-bottom: 20px;

    @include breakpoint(lg) {
      margin-bottom: 30px;
    }

    span {
      font-weight: 500;
    }
  }

  button {
    position: relative;
    margin-bottom: 40px;

    @include breakpoint(xl) {
      margin-bottom: 60px;
    }
  }

  button::after {
    content: "";
    position: absolute;
    top: 50px;
    right: 5px;
    width: 100%;
    height: 1000px;
    background-image: url("../../assets/img/line_sm.svg");
    background-repeat: no-repeat;
    z-index: -1;

    @include breakpoint(md) {
      top: 48px;
      left: -5px;
      background-image: url("../../assets/img/line_md.svg");
    }

    @include breakpoint(lg) {
      top: 40px;
      left: -140px;
      height: 500px;
      width: 1000px;
      background-image: url("../../assets/img/line_lg.svg");
      z-index: -1;
    }

    @include breakpoint(xl) {
      top: 50px;
      left: -170px;
      background-image: url("../../assets/img/line_xl.svg");
    }
  }

  .center {
    display: flex;
    justify-content: center;
  }

  @include breakpoint(lg) {
    margin-bottom: 150px;

    h2 {
      margin-bottom: 20px;
    }

    .cards {
      display: flex;
      gap: 20px;
    }
  }

  @include breakpoint(xl) {
    margin-bottom: 250px;

    h2 {
      margin: 0 auto;
      max-width: 700px;
      padding-right: 10px;
      margin-bottom: 30px;
    }

    .cards {
      margin: 0 auto;
      max-width: 1170px;
      justify-content: space-between;
    }
  }
}
