.discount {
  margin-bottom: 80px;

  span {
    font-weight: 500;
  }

  img {
    margin-bottom: 5px;
  }

  h2 {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
  }

  h3 {
    margin-bottom: 30px;
    font-weight: 300;
    color: #333333;
  }

  p {
    margin-bottom: 30px;
  }
}
