.card {
  box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
  border-radius: 25px;
  background: #FFF;
}

.title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #263238;
}

.text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #263238;
}

@media (min-width: 321px) {
  .title {
    /* font-size: 36px;
    line-height: 43px; */
  }
}