@use "../../sass/abstracts/" as *;

.bonus {
  margin-bottom: 100px;

  h2 {
    margin-bottom: 40px;
  }

  span {
    font-weight: 500;
  }

  @include breakpoint(lg) {
    margin-bottom: 150px;
  }

  @include breakpoint(xl) {
    margin-bottom: 250px;

    h2 {
      margin-bottom: 66px;
    }

    .cards {
      margin: 0 auto;
      max-width: 1170px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 80px;
      column-gap: 120px;
    }
  }
}
